.sighin{
  z-index: 1;
  min-height: 100%;
  .signin-header{
    background-color: $white_gray;
    align-items: center;
    display: flex;
    height: 128px;
    &__title{
      width: 185px;
      height: 49px;
      margin: auto;
    }
  }
  .signin-main{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    min-height: 100%;
    background-color: $white_gray;
    &__box{
      text-align: center;
      width: 456px;
      background-color: $white;
      margin: 0 auto;  
      &--login{
        padding: 40px 64px;
        font-size: 15px;
        border-bottom: 1px solid $white_gray;
        a{
          display: block;
          margin: 5px 0 0;
          border: 1px solid $main_color;
          background: $main_color;
          color: $white;
          line-height: 50px;
          text-decoration: none;
          border-radius: 5px;
        }
      }
      &--link{
        padding: 32px 64px;
        #facebook-login{
          height: 50px;
          background: #385185;
          color: $white;
          position: relative;
          border-radius: 5px;
          p{
            margin: 5px 30px 0  0;
          }
          i{
            font-size: 30px;
            float: left;
            position: absolute;
            top: 20%;
            left: 10px;
          }
          a{
            font-size: 15px;
            margin: 0px 60px;
            color: palevioletred;
          }
        }  
          .sns-text{
            font-size: 13px;
            color: $white;
            position: absolute;
            width: 260px;
            top: -10px;
            height: 50px;
            line-height: 50px;
          }
          #sns-text-google{
            color: black;
            top: 0;
            left: 30px;
          }
        #google-login{
          height: 50px;
          font-size: 13px;
          margin: 16px 0 0;
          background-color: rgb(255, 255, 254);
          border: 1px solid gray;
          line-height: 50px;
          position: relative;
          border-radius: 5px;
          i{
            font-size: 28px;
            float: left;
            position: absolute;
            top: 20%;
            left: 10px;
            color: deeppink;
          }
          a{
            font-size: 16px;
            margin: 0px 60px;
            color: palevioletred;
          }
          p{
            margin: 13px 45px 0  0;
          }
        }
      }
      #new_user.new_user{
        padding: 10px 64px 40px;
        .field{
          width: 300px;
          input{
            width: 325px;
            height: 45px;
            padding: 10px;
            border-radius: 5px;
          }
        }
        .actions{
          margin: 24px 0 0;
          font-size: 17px;
          input{
            width: 325px;
            height: 50px;
            background: $main_color;
            border: 1px solid $main_color;
            color: $white;
            border-radius: 5px
          }
        }
      }
    }
  }
}
.signup-footer {
  padding: 20px 0;
  text-align: center;
  background: $white_gray;
  nav{
    .signup-footer__list.clearfix{
      display: inline-flex;
      font-size: 13px;
      li{
        padding: 10px;
      }
    }
    }

  &__logo{
    width: 200px;
    margin: 40px auto 0;
  }
}