.new-container{
  .signin-header{
    background-color: $white_gray;
    align-items: center;
    display: flex;
    height: 128px;
    
    &__title{
      width: 185px;
      height: 49px;
      margin: auto;
    }
  }
  .new-container__main{
    display: block;
    background-color: $white_gray;
    padding: 10px;
    &--box{
      width: 700px;
      margin: 0 auto;
      background: $white;
      text-align: center;
      h2{
        font-size: 22px;
        padding: 32px;
      }  
    }
  }
  .form{
    padding: 10px;
    border-top: 1px solid $white_gray;
    #new_user.new_user{
      padding: 10px 64px 40px;
      display: inline-block;
      .field{
        padding: 10px 120px;
        text-align: left;
        p{
          color: $light_gray;
          font-size: 15px;
        }
        input{
          width: 325px;
          height: 45px;
          padding: 10px;
          margin: 10px 0 3px 0;
          border-radius: 5px;
        }
        select{
          width: 99px;
          height: 40px;
          padding: 10px;
          margin: 10px 3px 3px 3px;
        }
        span{
          width: 35px;
          height: 18px;
          background: $main_color;
          border: 1px solid $main_color;
          color: $white;
          font-size: 12px;
          padding: 2px;
          text-align: center;
        }
        .field-name{
          display: flex;
          h3{
            padding: 2px 5px;
            font-weight: bold;
          }
        }
      }
      .texts-field{
        padding: 10px 120px;
        text-align: left;
        display: flex;
        h3{
          padding: 2px 5px;
          font-weight: bold;
        }
        span{
          width: 35px;
          height: 18px;
          background: $main_color;
          border: 1px solid $main_color;
          color: #fff;
          font-size: 12px;
          padding: 2px;
          text-align: center;
        }
      }
      input{
        height: 45px;
        padding: 5px;
        border-radius: 5px;
      }
      .text{
        padding: 10px 120px;
        text-align: left;
        border-top: 1px solid $white_gray;
        h3{
          font-weight: bold
        }
        p{
          font-weight: 80;
          font-size: 12px;
          color: $light_gray;
        }
      }
      .text_3{
        padding: 10px 120px;
        text-align: left;
        color: $light_gray;
      }
    }
    .actions{
      padding: 10px 120px;
      input{
        width: 325px;
        height: 50px;
        background: $main_color;
        border: 1px solid $main_color;
        color: $white;
        border-radius: 5px;
      }
      }
  }
.signup-footer{
  padding: 20px 0;
  text-align: center;
  background: $white_gray;
  nav{
    .signup-footer__list.clearfix{
      display: inline-flex;
      font-size: 13px;
      li{
        padding: 10px;
      }
    }
    }
  &__logo{
    width: 200px;
    margin: 40px auto 0;
  }
}
}