.signup-footer
  %nav
    %ul.signup-footer__list.clearfix
      %li
        = link_to('プライバシーポリシー', "")
      %li
        = link_to('FURIMA利用規約', "")
      %li
        = link_to('特定商取引に関する表記', "")
  .signup-footer__logo
    = image_tag "logo/logo-white.png"