.cardInfo {
  max-width: 680px;
  width: 100%;
  margin: 30px auto;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.1);
  overflow: hidden;
  
  &__title {
    width: 100%;
    height: 40px;
    background-color: $main_color;
    text-align: center;
    line-height: 40px;
    color: $white;
    font-size: 20px;
    letter-spacing: 2px;
  }
  &__detail {
    width: 60%;
    display: flex;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 16px;

    &--content {
      text-align: right;
      flex-grow: 1;
    }
  }
  #deleteCardForm {
    width: 100%;
    text-align: center;
    padding: 20px 0 10px;
    & > button {
      padding: 5px 10px;
      font-size: 14px;
      background-color: $main_color;
      color: $white;
      border: none;
      border-radius: 0.5em;
      box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    }
  }
}