.appBanner {
  padding: 100px 40px;
  position: relative;
  @include backImage(
    $url: 'pict/bg-appBanner-pict.jpg'
  );
  &__contents {
    color: $white;
    text-align: center;

    &--title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__btn {
      display: flex;
      margin: 20px auto;
      justify-content: center;
      &--icon {
      width: 180px;

      &:first-child {
        margin-right: 10px;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: $white;
  background-color: #272727;
  text-align: center;

  &__lists {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    &__list {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      &--title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
      }
      & ul > li > a {
        color: $white;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &--logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  & > p {
    font-size: 14px;
  }
}