.searchWrapper {
  display: flex;
  background-color: $back_color_gray;
}

.searchSidebar {
  height: 100%;
  width: 280px;
  margin: 70px 25px;
  padding: 20px 10px;
  background-color: $white;
  & .fas {
    color: $main-color;
  }
  & > label {
    font-weight: bold;
    font-size: 16px;
  }
  &__type { 
    margin-top: 15px;
    & > label {
      font-weight: bold;
    }
    &--textbox {
      margin-top: 10px;
      width: 250px;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
      &:focus {
        outline: 0;
        border: 2px solid $main_color;
      }
    }
    &__numberfield {
      display: flex;
      margin-top: 10px;
      & > p {
        line-height: 48px;
        margin: 0 8px;
      }
      &--box {
        width: 110px;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 3px;
        border: 1px solid #ccc;
        &:focus {
          outline: 0;
          border: 2px solid $main_color;
        }
      }
    }
    &__checkfield {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 120px);
      column-gap: 10px;
      &__label {
        display: flex;
        margin-top: 10px;
        
        &--check{
          margin: auto 0;
          margin-right: 5px;
          & > input {
          width: 20px;
          height: 20px;
          }
        }
      }
    }
  }
}

.searchPickupArea {
  width: 100%;
  background-color: $back_color_gray;
  height: 100%;
  padding: 50px;
  .parts-nav {
    margin-bottom: 10px;
  }
  &__lists {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    column-gap: 25px;
    row-gap: 20px;
    // justify-content: space-between;
  }
  &__list {
    width: 220px;
    & > a {
      text-decoration: none;
      position: relative;    
    }
    &--image {
      width: 220px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0;
    }
    &__index {
      position: relative;
      background-color: white;
      color: #333;
      padding: 16px;
      font-size: 16px;
      &--name {
        overflow: hidden;
        line-height: 1.5;
        text-align: left;
      }
      &__details {
        & > ul {
          padding: 4px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &--icon {
          font-size: 14px;
        }
        & > p {
          padding: 2.5px 0;
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}