= render 'shared/header'
- breadcrumb :address_new
= render "layouts/breadcrumbs"
.add-container
  .add-content
    %h2 発送元・お届け先住所
    = render partial: 'form', locals: { address: @address }
= render 'shared/footer'