.main__showmain__content__topcontent__itembox__commentbox
  .users-comment-box
  .main__showmain__content__topcontent__itembox__commentbox__contents
    .main__showmain__content__topcontent__itembox__commentbox__contents__commentform
      .main__showmain__content__topcontent__itembox__commentbox__contents__commentform--format
      .main__showmain__content__topcontent__itembox__commentbox__contents__commentform--textform
        %p.text 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .main__showmain__content__topcontent__itembox__commentbox__contents__commentform--commentbotton
        = icon('fas', 'comment', class: 'icon') 
        コメントする