.main
  .main__showmain
    .main__showmain__content
      .main__showmain__content__topcontent
        .main__showmain__content__topcontent__itembox
          %h2.itembox__name
          .main__showmain__content__topcontent__itembox__body
            写真
          .main__showmain__content__topcontent__itembox__price
            値段
            .main__showmain__content__topcontent__itembox__price__detail
              税込
              送料込み
          .main__showmain__content__topcontent__itembox__detail
            商品詳細
          .main__showmain__content__topcontent__itembox__table
            table
          .main__showmain__content__topcontent__itembox__option
      .main__showmain__content__topcontent__commentbox
        .main__showmain__content__topcontent__coomentbox__content
          %p.hoge 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_field :content, class: 'texterea-default', placeholder: 'コメントがあればどうぞ'
          = f.submit 'Send', class: 'message-submit btn-default btn-gray'