.default-container-gray {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  padding-bottom: 40px;
  .l-content {
    width: 73%;
    margin: 0 auto;
    .parts-nav {
      &__list {
        margin: 16px 16px 0 0;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        color: #0099E8;
      }
      &__list:hover {
        text-decoration: underline;
      }
    }
    .items-box-container {
      &__head {
        height: 54px;
        padding: 24px 0 8px;
        font-size: 22px;
        font-weight: bold;
        color: #333333;
      }
    }
    .spacial-description {
      margin-top: 30px;
      &__title {
        padding: 16px 8px;
        height: 54px;
        font-size: 22px;
        font-weight: bold;
        padding: 16px 8px;
        background-color: #EA352D;
        color: #ffffff;
        border-radius: 4px;
        text-align: center
      }
      &__text {
        padding: 33px;
        font-size: 14px;
        background-color: #ffffff;
      }
    }
  }
}

