.default-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .category-index {
    width: 100%;
    height: calc(100% - 149px);
    padding: 40px;
    background-color: #F5F5F5;
    .visible-pc {
      width: 700px;
      margin: 0 auto;
      .category-index__title {
        font-size: 22px;
        padding: 8px 0;
      }
      .category-list-nav {
        margin-bottom: 40px;
        &__list {
          height: 40px;
          padding: 0 30px;
          margin: 5px;
          text-align: center;
          line-height: 40px;
          background-color: #ffffff;
          display: inline-block;
          border-radius: 5px;
          cursor: pointer;
          .category_root-name {
            text-decoration: none;
            color: #333333
          }
        }
        &__list:hover {
          background-color: #EA352D;
          .category_root-name {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
      .initial-index {
        padding: 10px 0 35px;
        .brand-index {
          cursor: pointer;
          color: #0099E8;
          margin-left: 1px;
        }
        .brand-index:hover {
          text-decoration: underline;
        }
      }
      .category-index__box {
        &__list {
          margin-bottom: 40px;
          &__name {
            height: 40px;
            font-size: 22px;
            font-weight: bold;
            padding: 7px 30px 0;
            background-color: #EA352D;
            color: #ffffff;
            border-radius: 5px;
          }
          &__inner-box {
            padding: 24px 30px 10px;
            background-color: #ffffff;
            .category_root-all {
              margin: 8px 0;
              font-size: 16px;
              display: inline-block;
              text-decoration: none;
              color: #0099E8;
            }
            .category1-all:hover {
              text-decoration: underline;
            }
            &__name {
              padding: 15px 0 5px;
              font-size: 14px;
            }
            &__sub-box {
              padding: 0 20px 10px;
              &__name {
                padding: 0 20px 0 0;
                font-size: 14px;
                width: 275px;
                line-height: 16px;
                margin: 8px 0;
                display: inline-block;
                .category23-all {
                  display: inline-block;
                  text-decoration: none;
                  color: #0099E8;
                }
                .category23-all:hover {
                  text-decoration: underline;
                }
              }
              
            }
          }
          // brand_groupページ用
          &__initial-box {
            &__title {
              font-size: 14px;
              background-color: #EEEEEE;
              padding: 10px 30px;
            }
            &__brand-list {
              padding: 10px 50px;
              &__name {
                padding: 0 20px 0 0;
                font-size: 14px;
                width: 275px;
                line-height: 16px;
                margin: 8px 0;
                display: inline-block;
                .category23-all {
                  display: inline-block;
                  text-decoration: none;
                  color: #0099E8;
                }
                .category23-all:hover {
                  text-decoration: underline;
                }
              }
              
            }
          }
        }
      }
    } 
  }
}