.main {
  background: #f8f8f8;
  &__showmain {
    padding: 40px;
    margin: 0 auto;
    &__content {
      width: 700px;
      margin: 0 auto;
      &__topcontent {
        margin: 0;
        padding: 0;
        &__itembox {
          background-color: #fff;
          padding: 24px 40px 40px;
        .itembox__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
        &__body {
          margin: 16px 0 0;
          &__imagebox {
            display: flex;
            position: relative;
            border: 3px dashed #c0c0c0;
            &__image {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              height: 350px
            }
          }                    
                  }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__pricedetail{
              font-size: 16px;
            }
                }
        &__detail{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom: 20px;
          &__tablebox {
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            &__tablebody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              &__record{
                box-sizing: border-box;
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
              }
            }
          }
         }
        &__option {
          display: flex;
          justify-content: space-between;
        }
        }
      &__commentbox{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        &__contents{
          list-style: none;
          &__commentform{
            margin: 0;
            padding: 0;
            text-align: center;
            &__format{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            &__textform{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;          
            }
           }
          }
        &__commentbotton{
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
        }
      }
              }
            }
          }