.main {
  background: #f8f8f8;
  &__showmain {
    padding: 40px;
    margin: 0 auto;
    &__content {
      width: 700px;
      margin: 0 auto;
      &__topcontent {
        background-color: #fff;
        padding: 24px 40px 40px;
        &__itembox {
          background-color: #fff;
          padding: 24px 40px 40px;
        }
        .itembox__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body{
          margin: 16px 0 0;
          ul {
            display: flex;
            position: relative;
            li {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              img {
                object-fit: cover;
                height: 346px;
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}