.category-list-nav
  - @categorys_root.each do |category_root|
    .category-list-nav__list
      = link_to "#{category_root.name}",brand_brand_groups_path(category_root.id), class: "category_root-name"