.default-container
  = render "shared/header"
  - breadcrumb :brands_index
  = render "layouts/breadcrumbs"
  = render "shared/newItemBtn"
  .category-index
    .visible-pc
      .category-index__title
        %h2 ブランド一覧
      = render 'brands/category-nav'

