.default-container
  = render "shared/header"
  = render "shared/newItemBtn"
  .nav
  .category-index
    .visible-pc
      .category-index__title
        %h2 ブランド一覧
      = render 'brands/category-nav'

